<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta charset="UTF-8">
    <title>Acces non autorisé</title>
    <link rel="stylesheet" href="css/403.css" media="screen">
    <link rel="stylesheet" th:href="@{../css/bootstrap.css}" media="screen"/>

    <script class="u-script" type="text/javascript" src="js/403.js" defer=""></script>
    <script class="u-script" type="text/javascript" th:src="@{../js/jquery.js}" defer=""></script>
    <script class="u-script" type="text/javascript" th:src="@{../js/bootstrap.js}" defer=""></script>
</head>
<body>
<div class="container">
    <h1>4<div class="lock">
        <div class="top"></div>
        <div class="bottom"></div>
    </div>3</h1>
    <p>Access non autorisé</p>
</div>
</body>
</html>